body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #555;
	word-break: break-all;
	word-wrap: break-word;
}
.container {
	width: 100%;
	margin: 0 auto;
}
#start {
	width: 100%;
	height: 100vh;
	position: relative;
	box-sizing: border-box;
}
#start .swiper-container {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
#start .swiper-container .swiper-slide {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-align: center;
	color: #fff;
}
#start .swiper-container .swiper-slide img,
#start .swiper-container .swiper-slide video {
	display: block;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	transform: scale(1.1);
	transition: transform 2.5s;
}
#start .swiper-container .swiper-slide-active img,
#start .swiper-container .swiper-slide-active video {
	transform: scale(1);
}
#start .top_menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 110px;
	padding: 0 60px;
	background-color: transparent;
	overflow: hidden;
	box-sizing: border-box;
	transition: 0.4s;
	z-index: 1000;
}
#start .top_menu.fixed {
	position: fixed;
}
#start .top_menu.active {
	height: 400px;
	background-color: rgba(100,95,95,.6);
}
#start .top_menu .logo {
	display: block;
	width: 170px;
	height: 50px;
	margin-top: 30px; 
	text-indent: -9999px;
	background: url(../images/logo.png) no-repeat center center;
	background-size: cover;
}
#start .top_menu .logo.variant {
	background: url(../images/logo_variant.png) no-repeat center center;
	background-size: cover;
}
#start .top_menu .logo a {
	display: block;
	height: 50px;
}
#desktop_menu {
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
}
#desktop_menu > ul > li {
	display: inline-block;
	position: relative;
	width: 140px;
}
#desktop_menu > ul > li > a {
	position: relative;
	display: block;
	line-height: 110px;
	font-size: 1em;
	color: #fff;
	font-weight: 500;
}
#desktop_menu > ul > li > a::after {
	bottom: 20px;
	left: 20%;
	content: "";
	position: absolute;
	width: 60%;
	height: 2px;
	background-color:rgba(220,190,170,.9);
	opacity: 0.5;
	transition: 0.4s;
	transform: scaleX(0);
}
#desktop_menu > ul > li:hover > a::after,
#desktop_menu > ul > li:focus > a::after {
	transform: scaleX(1);
}
#desktop_menu ul ul {
	padding-top: 20px;
	position: absolute;
	width: 100%;
}
#desktop_menu ul ul a {
	display: block;
	line-height: 2.5;
	font-size: 15px;
	color: #fff;
	white-space: nowrap;
}
#desktop_menu ul ul a:hover {
	color: rgba(220,190,170,.9);
	transition: 0.3s;
}
#mobile_menu {
	position: fixed;
	width: 40%;
	right: -100%;
	top: 100px;
	height: 100vh;
	overflow-x: hidden;
	background-color: rgba(100,95,95,.6);
	transition: right 0.5s;
}
#mobile_menu.active {
	right: 0;
}
#mobile_menu > ul > li {
	position: relative;
	padding-top: 20px;
}
#mobile_menu > ul > li::after {
	display: none;
	position: absolute;
    content: "";
    width: 90%;
    height: 1px;
    background-color: rgba(204,204,204,.5);
    left: 5%;
    bottom: -10px;
}
#mobile_menu > ul > li.active::after {
	display: block;
}
#mobile_menu > ul > li > a {
	display: block;
	padding-left: 17px;
	font-size: 19px;
	font-weight: bold;
	line-height: 2;
	color: #fff;
	position: relative;
}
#mobile_menu > ul > li > a .more_bar {
	display: block;
	position: absolute;
	top: 50%;
	left: auto;
	transition: all 0.3s;
	transform: translate(0%, -50%);
	width: 12px;
	right: 5%;
	height: 12px;
}
#mobile_menu > ul > li .more_bar span:nth-child(1),
#mobile_menu > ul > li .more_bar span:nth-child(2) {
	background-color: #fff;
	position: absolute;
}
#mobile_menu > ul > li .more_bar span:nth-child(1) {
	transition: all 0.6s;
	width: 2px;
	height: 12px;
	top: 0;
	left: 5px;
	transform: rotate(0deg);
}
#mobile_menu > ul > li.active .more_bar span:nth-child(1) {
	transition: all 0.6s;
	transform: rotate(270deg);
}
#mobile_menu > ul > li .more_bar span:nth-child(2) {
	transform: translate(0%, -50%);
	width: 12px;
	height: 2px;
	top: 50%;
	left: 0%;
}
#mobile_menu li ul {
	display: none;
}
#mobile_menu li li a {
	padding-left: 30px;
	font-size: 16px;
	line-height: 2.5;
	color: #fff;
	font-weight: 300;
}
#start .top_menu .icon li {
	display: inline-block;
	padding: 50px 15px;
}
#start .top_menu .icon li a {
	display: block;
	text-indent: -9999px;
	width: 25px;
	height: 25px;	
}
#start .top_menu .icon li .search_icon {
	background: url(../images/search_icon.png) no-repeat center center;
	background-size: 100%;
}
#start .top_menu .icon li .private {
	background: url(../images/private_icon.png) no-repeat center center;
	background-size: 100%;
}
#start .top_menu .icon li .alarm_tab {
	background: url(../images/alarm=default.png) no-repeat center center;
	background-size: 100%;
}
#start .top_menu.dark .icon li .search_icon {
	background: url(../images/search_icon_dark.png) no-repeat center center;
	background-size: 100%;
}
#start .top_menu.dark .icon li .private {
	background: url(../images/private_icon_dark.png) no-repeat center center;
	background-size: 100%;
}
#start .top_menu.dark .icon li .alarm_tab {
	background: url(../images/alarm_icon_dark.png) no-repeat center center;
	background-size: 100%;
}
#start .top_menu.dark > #desktop_menu > ul > li > a {
	color: #3D3535;
}
#start .swiper-container .swiper-slide .txt_wrap { 
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 45px;
}
#start .swiper-container .swiper-slide.swiper-slide-active .txt_wrap {
	opacity: 1;
}
#start .swiper-container .swiper-slide .txt_wrap .keytext {
	font-family: 'Hahmlet', serif;
	font-size: 2.75em;
	line-height: 1.5;
	letter-spacing: 3px;
	word-spacing: 5px;
	white-space: nowrap; 
	opacity: 0;
	transform: translateY(50px);
	transition: transform 1s, opacity 1s;
	transition-delay: 0.5s;
}
#start .swiper-container .swiper-slide .txt_wrap .subtext {
	line-height: 2;
	font-weight: 300;
	font-size: 1.2em;
	opacity: 0;
	transform: translateY(50px);
	transition: transform 1s, opacity 1s;
	transition-delay: 1.5s;
}
#start .swiper-container .swiper-slide .txt_wrap .more {
	font-family: 'Hahmlet', serif;
	display: inline-block;
	padding: 10px 30px;
	border: 1px solid rgba(255,255,255,0.4);
	color: #fff;
	transition: 0.3s;
	box-sizing: border-box;
	border-radius: 13px;
	opacity: 0;
	transform: translateY(50px);
	transition: transform 0.7s, opacity 0.7s;
	transition-delay: 2.5s;
}
#start .swiper-container .swiper-slide.swiper-slide-active .txt_wrap .keytext,
#start .swiper-container .swiper-slide.swiper-slide-active .txt_wrap .subtext,
#start .swiper-container .swiper-slide.swiper-slide-active .txt_wrap .more {
	opacity: 1;
	transform: translateY(0);
}
#start .swiper-container .swiper-slide.swiper-slide-active .txt_wrap .mobilebr {
	display: none;
}
#start .swiper-container .swiper-slide .txt_wrap .more:hover {
	background-color: #916f55;
	border: none;
	transition: 0.3s;	
}
#start .swiper-container .swiper-button-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: auto;
	right: 0;
	width: 70px;
	height: 150px;
}
#start .swiper-container .swiper-button-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: auto;
	width: 70px;
	height: 150px;
}
#start .swiper-container .swiper-button-prev svg,
#start .swiper-container .swiper-button-next svg {
	position: absolute;
	top: 0;
	width: 45px;
}
#start .swiper-container .swiper-button-next svg {
	right: 0;
}
#start .swiper-container .swiper-button-prev svg {
	left: 0;
}
#start .swiper-container .swiper-button-prev path,
#start .swiper-container .swiper-button-next path {
	stroke: rgba(150,130,100,.6);
    stroke-width: 4;
    fill: transparent;
    transition: 0.6s;
    stroke-linecap: round;
}
#start .swiper-container .swiper-button-prev p,
#start .swiper-container .swiper-button-next p {
	position: absolute;
	top: 50%;
	width: auto;
	transform: translateY(-50%) rotate(90deg);
	font-size: 15px;
	font-weight: 300;
	color: #555;
	letter-spacing: 1px;
	z-index: 999;
}
#start .swiper-container .swiper-button-prev p {
	right: -3px;
}
#start .swiper-container .swiper-button-next p {
	left: -3px;
}
#start .swiper-container .swiper-button-prev:after,
#start .swiper-container .swiper-button-next:after {
	display: none;
}
#start .dim.active {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	background-color: rgba(0,0,0,.4);
	transition: 0.3s;
}
@media only screen and (max-width: 1024px){
	#start .top_menu {
		height: 100px;
		overflow-y: hidden;
		padding: 0 10px;
		transition: padding 0.3s;
	}
	#start .top_menu.active {
		height: 100px;
	}
	#start .top_menu .logo {
		width: 140px;
		height: 40px;
		margin-left: 15px;
	}
	#start .top_menu .icon li {
		padding: 40px 10px;
	}
	#desktop_menu {
		display: none;
	}
	#start .top_menu .icon li .search_icon {
		background: none;
	}
	#start .top_menu .icon li .alarm_tab {
		background: url(../images/tab.png) no-repeat center center;
		background-size: 100%;
	}
	#start .top_menu .icon li .alarm_tab.active {
		background: url(../images/close.png) no-repeat center -1px;
		background-size: 70%;
	}
	#start .top_menu .icon li .private.active {
		background: url(../images/search_icon.png) no-repeat center center;
		background-size: 100%;
	}
	#start .swiper-container .swiper-slide .txt_wrap .keytext {
		font-size: 2.2em;
	}
	#start .swiper-container .swiper-slide .txt_wrap .subtext {
		font-size: 1.1em;
	}
}
@media only screen and (max-width: 500px){
	#start .top_menu .logo {
		width: 120px;
		height: 35px;
		margin-left: 10px;
		margin-top: 32px;
	}
	#start .swiper-container .swiper-slide .txt_wrap .keytext {
		font-size: 20px;
	}
	#start .swiper-container .swiper-slide .txt_wrap .subtext {
	    font-size: 14px;
    	font-weight: 100;
	}
	#mobile_menu > ul > li > a {
		font-size: 14px;
	}
	#mobile_menu li li a {
		font-size: 13px;
	}
	#start .top_menu .icon li a {
		width: 20px;
		height: 20px;
	}
	#mobile_menu > ul > li > a .more_bar {
		width: 10px;
		right: 15%;
		height: 10px;
	}
	#mobile_menu > ul > li .more_bar span:nth-child(1) {
		width: 1px;
		height: 10px;
		top: 0px;
		left: 4px;
	}
	#mobile_menu > ul > li .more_bar span:nth-child(2) {
		width: 10px;
		height: 1px;
		top: 50%;
		left: 0%;
	}
	#start .swiper-container .swiper-button-prev path, #start .swiper-container .swiper-button-next path {
		stroke-width: 2;
	}
}
.container .sub {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	position: relative;
}
#page1 .swap_image {
	position: relative;
	height: 100vh;
	background: url(../images/swap_basic.jpg) no-repeat center center;
	background-size: cover;
}
#page1 .swap_image .swap_bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
}
#page1 .swap_image .swap_bg.active {
	opacity: 1;
}
#page1 .swap_image .swap_bg img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#page1 .inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#page1 .inner > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 100%; 
}
#page1 .inner > ul > li {
	position: relative;
	width: 25%;
	height: 100%;
	transition: background-color 0.3s;
}
#page1 .inner > ul > li.on { 
	background-color: rgba(97,85,76,.6);
}
#page1 .inner > ul > li::after{
	position: absolute;
	display: block;
	content: "";
	width: 1px;
	height: 100%;
	top: 0;
	right: 0;
	background-color: rgba(255,255,255,.2); 
}
#page1 .inner li::before {
	position: absolute;
	content: "";
	display: block;
	width: 200px;
	height: 1px;
	left: 0;
	top: 50%;
	background-color: rgba(255,255,255,.2); 
}
#page1 .inner li a {
	padding: 180px 70px 0;
	display: block;
	color: #fff; 
}
#page1 .inner li a .item_basic .txtbox {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #fff; 
}
#page1 .inner li a .item_basic .item_number {
	display: block;
	font-size: 2em;
	padding-top: 30px;
	font-weight: 500;
}
#page1 .inner li a .item_basic .item_desc {
	font-size: 1em;
	padding-top: 15px;
	line-height: 1.7;
	display: inline-block;
	height: 80px;
}
#page1 .inner li a .item_detail {
   padding-top: 200px;
   opacity: 0;
}
#page1 .inner li.on a .item_detail { 
   opacity: 1;
   transition: opacity 0.3s;
}
#page1 .inner li a .item_detail > ul {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 15px;
}
#page1 .inner li a .item_detail li .txt1 {
	float: left;
	font-weight: 500;
	font-size: 1.2em;
	line-height: 2;
}
#page1 .inner li a .item_detail li .txt2 {
	float: right;
	font-weight: 300;
	font-size: 1em;
	line-height: 2;
}
#page1 .inner li a .item_detail li .txt2 .color_chip {
	display: inline-block;
	width: 9px;
	height: 9px;
	border: 1px solid;
}
#page1 .inner li a .item_detail li .txt2 .color_name {
	padding-left: 10px;
	display: inline-block;
}
@media only screen and (max-width: 1400px){
	#page1 .inner > ul > li {
		width: 33.3%;
	}
	#page1 .inner li a .item_basic .item_number {
		font-size: 25px;
	}
	#page1 .inner li a .item_detail li .txt1 {
		font-size: 16px;
		line-height: 2;
	}
	#page1 .inner li a .item_detail li .txt2 {
		font-size: 15px;
		line-height: 2;
	}
}
@media only screen and (max-width: 1024px){
	#page1 .inner > ul > li {
		width: 50%;
	}
}
@media only screen and (max-width: 760px){
	#start .swiper-container .swiper-slide.swiper-slide-active .txt_wrap .mobilebr {
		display: inline;
	}		
}
@media only screen and (max-width: 500px){
	#page1 .inner > ul > li {
		width: 100%;
	}
}
#page2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #F4F3E6;
	overflow-y: auto;
}
#page2 .inner {
	position: relative;
	max-width: 1400px;
	display: flex;
	flex-direction: row-reverse;
}
#page2 .inner .event_txt {
	text-align: right;
}
#page2 .inner .event_txt .event_title {
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 5px;
}
#page2 .inner .event_txt p {
	font-size: 20px;
	color: #888;
	font-weight: 300;
}
#page2 .inner .event_txt .ask {
	margin-top: 100px;
	display: inline-block;
	padding: 10px 30px;
	border: 1px solid #888;
	color: #888;
	transition: 0.3s;
	box-sizing: border-box;
	border-radius: 13px;
}
#page2 .inner .event_txt .ask:hover {
	background-color: #916f55;
	color: #fff;
	border: none;
	transition: 0.3s;	
}
#page2 .inner .event_box > ul {
	display: flex;
	flex-direction: row;
}
#page2 .inner .event_box > ul > li {
	position: relative;
	padding: 80px 30px;
	display: inline-block;
	margin-right: 20px;
	width: 300px;
	background-color: #fff;
	overflow: hidden;
	box-sizing: border-box;
}
#page2 .inner .event_box > ul > li:last-child {
	margin-right: 20px;
}
#page2 .inner .event_box > ul > li:hover {
	transform: translate(-1.5%, -1.5%);
	transition: transform 0.4s;
}
#page2 .inner .event_box > ul > li .title {
	padding-top: 10px;
	font-weight: 300;
	line-height: 40px;
	font-size: 25px;
	white-space: nowrap;
}
#page2 .inner .event_box li .guide {
	padding-top: 50px;
}
#page2 .inner .event_box li .guide li {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	white-space: nowrap;
}
#page2 .inner .event_box li .guide li a {
	display: block;
	font-size: 16px;
}
@media only screen and (max-width: 1280px){
	#page2 .inner {
		flex-direction: column;
		align-items: center;
	}
	#page2 .inner .event_txt {
		text-align: center;
	}
	#page2 .inner .event_txt .event_title {
		font-size: 55px;
	}
	#page2 .inner .event_txt p {
		font-size: 17px;
	}
	#page2 .inner .event_txt .ask {
		margin: 30px auto 30px;
	}
	#page2 .inner .event_box > ul > li {
		width: 280px;
		height: 400px;
		margin-right: 20px;
	}
	#page2 .inner .event_box > ul > li .title {
		padding-top: 10px;
		font-weight: 300;
		line-height: 40px;
		font-size: 22px;
		white-space: nowrap;
	}
	#page2 .inner .event_box li .guide {
		padding-top: 50px;
	}
	#page2 .inner .event_box li .guide li a {
		display: block;
		font-size: 14px;
	}
}
@media only screen and (max-width: 981px){
	#page2 .inner .event_box > ul > li {
		padding: 50px 20px;
		display: inline-block;
		margin-right: 15px;
		width: calc((100% - 10px)/3);
	}
	#page2 .inner .event_box > ul > li .title {
		padding-top: 10px;
		font-weight: 300;
		line-height: 1.5;
		font-size: 18px;
	}
}
@media only screen and (max-width: 768px){
	#page2 {
		align-items: flex-start;
	}
	#page2 .inner .event_txt {
		margin-top: 100px;
	}
	#page2 .inner .event_txt .event_title {
		font-size: 45px;
	}
	#page2 .inner .event_txt p {
		font-size: 15px;
	}	
	#page2 .inner .event_box > ul {
		display: flex;
		flex-direction: column;
	}
	#page2 .inner .event_box > ul > li {
		width: 100%;
		height: 350px;
		margin-bottom: 40px;
	}
	#page2 .inner .event_box > ul > li .title {
		font-size: 20px;
	}
}
#page3 {
	background-color: #E8E7E0;
}
#map {
	position: absolute;
	top: 10%;
	z-index: 999;
	height: 80%;
	width: 100%;
}
#page3 .storebox {
	z-index: 9999;
	position: absolute;
	right: 10%;
	top: 40%;
	width: 400px;
	height: 300px;
	background-color: rgba(107, 134, 123, 0.9);
	padding: 50px 30px;
	box-sizing: border-box;
	color: #fff;
	text-align: center;
	border-radius: 15px;
	border: 2px solid rgba(255,255,255,.7);
}
input[type=text] {
	padding: 12px 20px;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background-color: #fff;
	border: 1px solid #ccc;
	outline: none;
	border-radius: 4px;
	box-sizing: border-box;
}
.search input[type=text] {
	padding: 12px 20px 12px 40px;
	width: 200px;
	background-image: url(../images/mapsearch_icon.png);
	background-position: 10px 12px;
	background-repeat: no-repeat;
	transition: width 0.4s ease-in-out;
	margin-top: 50px;
}
.search input[type=text]:focus {
	width: 260px;
}
#page3 .storebox p {
	font-size: 20px;
	line-height: 1.5;
	white-space: nowrap;
}
#footer {
	background-color: #3D3535;
	height: 300px;
}
#footer .footer_inner {
	margin: 0 auto;
	padding-top: 70px;
	max-width: 1400px; /**/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#footer .footer_inner .footer_right {
	text-align: right;
	color: #D8D8D8;
}
#footer .footer_inner .footer_right .app p {
	font-size: 17px;
	line-height: 1.5;
}
#footer .footer_inner .footer_right .app .btns  li {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}
#footer .footer_inner .footer_right .app .btns a {
	display: block;
	border: 1px solid #D8D8D8;
	padding: 3px 15px;
	color: #D8D8D8;
}
#footer .footer_inner .footer_right .tel {
	margin-top: 20px;
	font-size: 15px;
	line-height: 2;
}